<form (ngSubmit)="onSubmit(contentForm.valid)" #contentForm="ngForm" class="content-form" novalidate>
    <div *ngIf="submitted && !contentForm.valid"
         class="form-error-message">Please fill all the fields
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="InputContentTitle">Title</label>
                <input type="text" [(ngModel)]="contentNode.name" ngControl="name"
                       class="form-control" id="InputContentTitle"
                       placeholder="Title" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" *ngIf="isNewContentNode">
                <label for="InputType">Type</label>
                <select class="form-control" required id="InputType" [ngModel]="type"
                        (ngModelChange)="onTypeChanged($event)"
                        ngControl="type">
                    <option *ngFor="let contentType of contentTypes" [value]="contentType">{{contentType}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isNewContentNode">
                <label for="InputTypeTxt">Type</label>
                <input type="text" [(ngModel)]="contentNode.applicationType.name" ngControl="type"
                       class="form-control" id="InputTypeTxt"
                       placeholder="Type" readonly>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Tags</label>
                <update-from-select [allValues]="allValues"></update-from-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-buttons">
                <button class="btn btn-success" type="submit">{{saveAction}}</button>
                <button class="btn btn-default" (click)="translate($event)">Translate</button>
                <button class="btn btn-default" (click)="publish($event)">Publish</button>
                <button class="btn btn-default" (click)="cancel($event)">Cancel</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab *ngFor="let nodeTab of nodeTabs"
                    [heading]="nodeTab.title"
                    [active]="nodeTab.active"
                    (deselect)="nodeTab.active = false"
                    (select)="selectTab(nodeTab)"
                    [disabled]="nodeTab.disabled">
                    <div class="row">
                        <div class="col-md-12">
                            <content-image *ngIf="nodeTab.contentNode.type==='image'" [contentNode]="nodeTab.contentNode"></content-image>
                            <content-text *ngIf="nodeTab.contentNode.type!=='image'" [contentNode]="nodeTab.contentNode"></content-text>
                        </div>
                    </div>
                 </tab>
                <tab *ngFor="let groupTab of groupTabs"
                     [heading]="groupTab.title"
                     [active]="groupTab.active"
                     (deselect)="groupTab.active = false"
                     (select)="selectGroupTab(groupTab)"
                     [disabled]="groupTab.disabled">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{groupTab.groupNode.name}}</label>
                                <input type="text" [ngModel]="groupTab.groupNode.name"
                                       class="form-control" value="groupTab.groupNode.name" />
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>

    <content-publish></content-publish>
    <content-editjson></content-editjson>

</form>
