<h1>Content management</h1>
<div class="new-content-btn">
    <input class="btn btn-success" type="submit" value="Create new content" (click)="newContent()">
</div>
<form (ngSubmit)="search()" #searchForm="ngForm" class="search-form" novalidate>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="InputStatus">Status</label>
                <select class="form-control" id="InputStatus" [(ngModel)]="searchNode.status">
                    <option *ngFor="let status of statuses" [value]="status" (select)="searchNode.status">{{status}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="InputUser">User</label>
                <select class="form-control" id="InputUser" [(ngModel)]="searchNode.user">
                    <option *ngFor="let user of users" [value]="user._id" (select)="searchNode.user">{{user.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="InputType">Type</label>
                <select class="form-control" id="InputType" [(ngModel)]="searchNode.type">
                    <option *ngFor="let type of types" [value]="type" (select)="searchNode.type">{{type}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group tag-select-group">
                <label>Tags</label>
                <update-from-select [allValues]="allValues"></update-from-select>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label for="InputContains">Title</label>
                <input type="text" [(ngModel)]="searchNode.contains"
                       class="form-control" id="InputContains"
                       placeholder="text">
            </div>
        </div>
    </div>
    <div class="form-buttons">
        <button type="submit" class="btn btn-default">Search</button>
        <button class="btn btn-default" (click)="reset($event)">Reset</button>
    </div>

</form>


<table sortable class="table table-hover">
    <thead>
    <tr>
        <th>Date created</th>
        <th>Title</th>
        <th>Author</th>
        <th>Type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let application of applications">
        <td (click)="onSelect(application)">{{application.created | isoDate: "d mmmm yyyy" }}</td>
        <td (click)="onSelect(application)">{{application.name}}</td>
        <td (click)="onSelect(application)">{{application.user.name}}</td>
        <td (click)="onSelect(application)">{{application.type}}</td>
        <td class="delete-cell">
            <i *ngIf="(application.user._id === currentUser._id || currentUser.roles.indexOf('admin') >= -1) && application.status === 'active'"
               (click)="deleteNode($event, application._id)" class="fa fa-minus-square" title="Delete Application"></i>
            <i *ngIf="(application.user._id === currentUser._id || currentUser.roles.indexOf('admin') >= -1) && application.status === 'deleted'"
               (click)="restoreNode($event, application)" class="fa fa-plus-square" title="Restore Application"></i>
        </td>
    </tr>
    </tbody>
</table>
