<div class="tag-input dropdown form-control">
    <span class="dropdown-toggle" data-toggle="dropdown">
        <ul class="selected-tag-list">
            <li *ngFor="let selectedTag of selectedTags">
                <span class="tag-delete" (click)="removeTag(selectedTag)">x</span>
                <span>{{selectedTag.name}}</span>
            </li>
        </ul>
        <span class="caret"></span>
    </span>
    <ul class="dropdown-menu" #node>
        <li *ngFor="let tag of tags" (click)="selectTag(tag)" class="tag">{{tag.name}}</li>
    </ul>
</div>
