<h1>Edit user</h1>

<div *ngIf="user">
    <form [ngFormModel]="userForm" (submit)="submitUser($event)" class="user-form" novalidate>
        <div *ngIf="submitted && !userForm.valid "
             class="form-error-message">Please fill all the fields
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="InputUserName">User name</label>
                    <input type="text" [(ngModel)]="user.name" [ngFormControl]="userForm.controls['name']"
                           class="form-control" required id="InputUserName"
                           placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="InputEmail">Email address</label>
                    <input type="email" [(ngModel)]="user.email" [ngFormControl]="userForm.controls['email']"
                           class="form-control" [class.error]="!email.valid && email.touched" required id="InputEmail"
                           placeholder="Email" [attr.readonly]="!newUser ? true : null" >
					<div *ngIf="!email.valid" class="ui error message">Email is invalid</div>						   
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Role</label>
                    <update-from-select [allValues]="allValues"></update-from-select>
                </div>
                <div class="form-group">
                    <label for="InputStatus">Status</label>
                    <select class="form-control" required id="InputStatus" [(ngModel)]="user.status"
                            [ngFormControl]="userForm.controls['status']">
                        <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-buttons">
            <input class="btn btn-success" type="submit" value="Submit">
            <button class="btn btn-default" (click)="cancel($event)">Cancel</button>
        </div>
    </form>
</div>
