<div *ngIf="publishIsVisible" class="modal fade show in danger" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px;">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hidePublish()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Publish</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="InputChannel">Channel</label>
                            <select id="InputChannel" class="form-control"
                                required [ngModel]="selectedChannel"
                                    (ngModelChange)="onSelectedChannelChanged($event)"
                                placeholder="Channel">
                                <option *ngFor="let channel of channels"
                                        [value]="channel">{{channel}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                            <label for="InputDateSelect">Publish Date</label>
                            <input type="date" class="form-control"
                               required id="InputDateSelect"
                               placeholder="Select Date">
                            </div>
                            <div class="col-md-6">
                            <label for="InputTimeSelect">Publish Time</label>
                            <input type="time" class="form-control"
                               required id="InputTimeSelect"
                               placeholder="Select Time">
                            </div>
                         </div>
                        <div class="row">
                            <div class="col-md-12" *ngIf="selectedChannel==='Twitter'">
                                <label for="SomeText" style="margin-top: 50px;">Enter Text</label>
                                <input type="text" id="SomeText" class="form-control">
                            </div>
                            <div class="col-md-12" *ngIf="selectedChannel==='Launcher'">
                                <label for="SomeFile" style="margin-top: 50px;">Select Target File Name</label>
                                <input type="text" id="SomeFile" class="form-control" required
                                       [(ngModel)]="publishFileName">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="publish()">Done</button>
                <button type="button" class="btn btn-default" (click)="hidePublish()">Cancel</button>
            </div>
        </div>
    </div>
</div>